@use "./layout/variables" as *;

.cta-section {
  padding: 72px 0;
  text-align: center;
  @media (min-width: $pc) {
    padding: 146px 0;
  }
  .section-title {
    color: inherit;
    font-size: 32px;
    margin-bottom: 35px;
    @media (min-width: $laptop) {
      font-size: 58px;
    }
    @media (min-width: $pc) {
      font-size: 96px;
    }
  }
  .rounded-link {
    background: $white;
    color: $blue;
    border: 12px solid $blue;
    @media (min-width: $laptop) {
      position: absolute;
      top: 35%;
      right: 30%;
    }
    &:hover {
      background: $orange;
      color: $white;
    }
  }
}