@use "./layout/variables" as vars;

.info-section {
  .image-text {
    margin-bottom: 32px;
    @media (min-width: vars.$tablet) {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 30px;
    }
    @media (min-width: vars.$pc) {
      gap: 64px;
      margin-bottom: 40px;
    }
    @media (min-width: vars.$pc) {
      margin-bottom: 78px;
    }
  }
  .image {
    margin-bottom: 30px;
    @media (min-width: vars.$tablet) {
      width: calc(30% - 15px);
      margin-bottom: 0;
    }
    @media (min-width: vars.$pc) {
      width: calc(30% - 32px);
    }
    img {
      display: block;
      width: 100%;
    }
  }
  .title {
    text-transform: none;
    font-weight: 500;
    margin-bottom: 0;
    @media (min-width: vars.$tablet) {
      width: calc(70% - 15px);
    }
    @media (min-width: vars.$pc) {
      width: calc(70% - 32px);
    }
  }
}

.info-blocks {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  @media (min-width: vars.$laptop) {
    gap: 24px;
  }
   .info-block {
     color: vars.$blue;
     border: 1px solid vars.$blue;
     background: rgba(vars.$blue, 0.1);
     display: flex;
     justify-content: flex-start;
     align-items: flex-end;
     text-decoration: none;
     text-transform: uppercase;
     border-radius: 24px;
     padding: 24px;
     font-weight: 500;
     width: 100%;
     margin: 0;
     transition: all 0.3s ease-in-out;
     @media (min-width: vars.$tablet) {
       width: calc(50% - 12px);
       min-height: 195px;
     }
     @media (min-width: vars.$laptop) {
       width: calc(33.33% - 16px);
     }
     &:hover {
     	border-color: vars.$orange;
       background: vars.$orange;
       color: vars.$white;
     }
   }
}