@use "./layout/variables" as *;

.principles-section {
  .section-title {
    margin-bottom: 24px;
  }
  p {
    &:last-child {
        margin-bottom: 0;
    }
  }
}

.principles {
  display: flex;
  flex-direction: column;
  gap: 24px;
  @media (min-width: $tablet) {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .item {
    @media (min-width: $tablet) {
      width: calc(50% - 12px);
    }
    @media (min-width: $laptop) {
      width: calc(33.33% - 16px);
    }
  }
  .title {
    color: $orange;
    font-size: 18px;
    text-transform: none;
    font-weight: 600;
    margin-bottom: 12px;
    @media (min-width: $pc) {
      font-size: 20px;
    }
  }
}