@use "./layout/variables" as *;

.projects-filter {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  align-items: center;
  margin-bottom: 42px;
  @media (min-width: $tablet) {
    gap: 42px;
  }
  @media (min-width: $pc) {
    margin-bottom: 80px;
  }
  input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    &:checked {
      + label {
        color: $blue;
      }
    }
  }
  label {
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    &:hover {
      color: $black;
    }
  }
}

.projects-holder {
  overflow: hidden;
  position: relative;
  transition: height 0.5s ease-in-out;
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20%;
    display: block;
    background: linear-gradient(180deg, transparent 0%, rgba($light, 1) 100%);
  }
  &.no-btn {
    &:after {
      display: none;
    }
    & + .btn-holder {
      display: none;
    }
  }
  .project-item {
    width: calc(50% - 8px);
    margin-bottom: 32px;
    @media (min-width: $tablet) {
      width: calc(33.33% - 22px);
    }
  }
}

.btn-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 26px 0;
}
