@use "./layout/variables" as *;

.text-section{
  &:before {
    background-color: $orange;
  }
  .section-title,
  .subtitle {
    color: inherit;
    &:last-child {
        margin-bottom: 0;
    }
  }
  .section-title {
    margin-bottom: 24px;
  }
  .subtitle {
    text-transform: none;
    font-weight: 500;
  }
}