//Variables
$white: #fff;
$black: #000;
$dark: #222;
$gray: #555;
$orange: #FF772A;
$blue: #156AD4;
$light: #F1F1F1;
$light-gray: #BABABA;

$base-font: "Urbanist", "Times", "Baskerville", "Georgia", serif;

$tablet: 768px;
$laptop: 1024px;
$pc: 1280px;
$pc-xl: 1600px;
$pc-xxl: 1920px;

$font-size: 16px;

